.body {
    margin: 0px;
}

.sommaire {
  position: absolute;
  width: 1100px;
  top: 780px;
  left: 100px;
}
.sommaire a:hover {
  color: #ECE8E1;
  }

ul {
  list-style-type: none;
}

.titre {
  text-decoration: none;
  color: #18212A;
  font-family: 'helvetica';
  font-size: 24px;
  margin-bottom: 30px;
}

.souspar{
  text-decoration: none;
  color: #18212A;
  font-family: 'helvetica';
  font-size: 22px;
}

.button {
  position: absolute;
  position: fixed;
  top: 80px;
  left: 50px;
}

    /* Sidenav menu */
    .sidenav {
        height: 100%;
        width: 579px;
        position: fixed;
        z-index: 1;
        top: 0px;
        border-radius: 0px 13px 0px 13px;
        left: -700px;
        opacity: 90px;
        background-color: #FF4654;
        padding-top: 60px;
        transition: left 0.5s ease;
        }
        
        .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0px, 0px, 67px, 0px;
        }
    
      /* Sidenav menu links */
        .sidenav a {
        padding: 5px 8px 8px 32px;
        font-family: 'helvetica';
        text-decoration: none;
        font-size: 14px;
        color: #18212A;
        display: block;
        transition: 0.3s;
        }
    
        .sidenav a:hover {
        color: #ECE8E1;
        }
    
      /* Active class */
        .sidenav.active {
        left: 0px;
        }
    
      /* Close btn */
        .sidenav .close {
        position: absolute;
        top: 20px;
        right: 50px;
        font-size: 36px;
        }
    
        .burger-icon span {
        display: block;
        width: 50px;
        height: 5px;
        background-color: #FF4654;
        margin: 10px 20px;
        }
    /* Sidenav menu */

    /* button cliquez */

     a {
      text-decoration: none;
      }  
     

    .copy-btn1 {
      top: 470px;
      left: 800px;
      width: 359px;
      height: 76px;
      cursor: pointer;
      position: absolute;
      background: #ECE8E1;
      color: #18212A;
      font-size: 24px;
      font-family: 'valorant';
      border: 1px solid #222;
      border-radius: 4px;
      padding: 17px 20px;
      transition: 0.2s all ease;
    }

    .copy-btn2 {
      top: 470px;
      left: 120px;
      width: 359px;
      height: 76px;
      cursor: pointer;
      position: absolute;
      background: #ECE8E1;
      color: #18212A;
      font-size: 24px;
      font-family: 'valorant';
      border: 1px solid #222;
      border-radius: 4px;
      padding: 17px 20px;
      transition: 0.2s all ease;
    }

    .copy-btn3 {
      top: 40070px;
      left: 120px;
      width: 900px;
      height: 90px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      position: absolute;
      background: none;
      color: #ECE8E1;
      font-size: 24px;
      font-family: 'valorant';
      border: 1px solid #222;
      border-radius: 4px;
      align-items: center;
      padding: 15px 600px 15px 20px;
      transition: 0.2s all ease;
    }

    .copy-btn4 {
      top: 40150px;
      left: 120px;
      width: 900px;
      height: 90px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      position: absolute;
      background:none;
      color: #ECE8E1;
      font-size: 24px;
      font-family: 'valorant';
      border: 1px solid #222;
      border-radius: 4px;
      align-items: center;
      padding: 15px 600px 15px 20px;
      transition: 0.2s all ease;
    }

    button:hover {
      background: #FF4654;
      color: #ECE8E1;
    }

    .ancre {
      position: absolute;
      background-color: none;
      top: 2500px;
      width: 390px;
    }

    .ancre2 {
      position: absolute;
      background-color: none;
      top: 7700px;
      width: 390px;
    }

    .ancre3 {
      position: absolute;
      background-color: none;
      top: 8100px;
      width: 390px;
    }

    .ancre4 {
      position: absolute;
      background-color: none;
      top: 10200px;
      width: 390px;
    }

    .ancre5 {
      position: absolute;
      background-color: none;
      top: 12100px;
      width: 390px;
    }

    .ancre6 {
      position: absolute;
      background-color: none;
      top: 14500px;
      width: 390px;
    }

    .ancre7 {
      position: absolute;
      background-color: none;
      top: 14700px;
      width: 390px;
    }

    .ancre8 {
      position: absolute;
      background-color: none;
      top: 17350px;
      width: 390px;
    }

    .ancre9 {
      position: absolute;
      background-color: none;
      top: 19550px;
      width: 390px;
    }

    .ancre10 {
      position: absolute;
      background-color: none;
      top: 21500px;
      width: 390px;
    }

    .ancre11 {
      position: absolute;
      background-color: none;
      top: 23900px;
      width: 390px;
    }

    .ancre12 {
      position: absolute;
      background-color: none;
      top: 24400px;
      width: 390px;
    }

    .ancre13 {
      position: absolute;
      background-color: none;
      top: 27900px;
      width: 390px;
    }

    .ancre14 {
      position: absolute;
      background-color: none;
      top: 30900px;
      width: 390px;
    }

    .ancre15 {
      position: absolute;
      background-color: none;
      top: 34000px;
      width: 390px;
    }

    .ancre16 {
      position: absolute;
      background-color: none;
      top: 38300px;
      width: 390px;
    }

    .ancre17 {
      position: absolute;
      background-color: none;
      top: 39900px;
      width: 390px;
    }
